<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello vidaa</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<h1>Renata</h1>
<p>Find me in app/views/pages/one.html.erb</p>
